<div class="container-fluid p-3 mb-2 bg-warning text-dark">
  <h1 align="center"> TEAM LILLE !!!</h1>
</div>

<p align="center"><a href="http://www.noelshack.com/2018-44-2-1540919741-teamlille.jpg">
  <img src="http://image.noelshack.com/minis/2018/44/2/1540919741-teamlille.png" WIDTH=30% />
</a></p>

<ul>
  <li>Anaïs</li>
  <li>Virginie</li>
  <li>Josh</li>
  <li>Mouss'</li>
  <li>Félix</li>
  <li>Rafik</li>
  <li>Clément</li>
  <li>Tony</li>
  <li>Thomas</li>
</ul>
