<h1 class="text-center">ça c'est les contacts</h1>
<br />
<p><strike> putain de ses morts: 3h pour claquer 2 pages à la con sur un serveur local </strike></p>

<h4><i>Pour contacter la Team Lille de THP:</i></h4>

<ul>
  <li> Par email: <a href="mailto:thehackingproject@gmail.com"> thehackingproject@gmail.com</a></li>
  <li> sur le Slack: <a href="https://thehackingproject.slack.com/messages/C5XS0SCF2/"> #lieu-lille</a></li>
</ul>
